<ion-header [translucent]="true">
  <ion-header>
    <ion-toolbar>
      <ion-buttons slot="start">
        <ion-back-button defaultHref="/tabs/cities"></ion-back-button>
      </ion-buttons>
      <ion-title>City Details</ion-title>
    </ion-toolbar>
  </ion-header>

<ion-content [fullscreen]="true">
  <ion-img [src]="city?.photo"></ion-img>
  <ion-card>
    <ion-card-header>
      <ion-card-title>{{ city?.name }}</ion-card-title>
      <ion-card-subtitle>{{ city?.province }}</ion-card-subtitle>
    </ion-card-header>
    <ion-card-content>
      <p><strong>Latitude:</strong> {{ city?.lat }}</p>
      <p><strong>Longitude:</strong> {{ city?.lng }}</p>
    </ion-card-content>
  </ion-card>
  
  <ion-card *ngIf="weather">
    <ion-card-header>
      <ion-card-title>Weather in {{ city?.name }}</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <p><strong>Temperature:</strong> {{ weather.main.temp }}°C</p>
      <p><strong>Condition:</strong> {{ weather.weather[0]?.description }}</p>
      <p><strong>Humidity:</strong> {{ weather.main.humidity }}%</p>
      <p><strong>Wind Speed:</strong> {{ weather.wind.speed }} m/s</p>
    </ion-card-content>
  </ion-card>

  <ion-spinner *ngIf="isLoading"></ion-spinner>
  <p *ngIf="errorMessage" class="ion-text-center">{{ errorMessage }}</p>
  
  <ion-button *ngIf="city?.name" color="primary" (click)="bookAccommodation()" class="content-fit-button">
    <ion-icon slot="start" name="bed-outline"></ion-icon>
    Book
  </ion-button>
  <ion-button *ngIf="city?.id" color="success" (click)="showOnMap()" class="content-fit-button">
    <ion-icon slot="start" name="location"></ion-icon>
    Show on Map
  </ion-button>
  
</ion-content>
